<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p>{{description}}.</p>
  <mat-form-field class="full-width">
    <mat-label>Comments</mat-label>
    <textarea matInput [(ngModel)]="newCommentText"></textarea>
  </mat-form-field>
  <div class="comments-container">
    <div class="comment" *ngFor="let comment of comments">
      <mat-label>{{ comment.emailOfCreator }}</mat-label>
      <p>{{ comment.text }}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="addComment()">Add Comment</button>
</div>

